{% extends 'stock/base.html' %}

{% block sub_title %}
  Remove product from bundle
{% endblock sub_title %}

{% block sub_heading %}
  Remove product from bundle
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <p>Remove {{ product.name }} from {{ bundle.name }} bundle.</p>
      {% include '_form.html' with submit='Remove' %}
    </div>
  </div>
{% endblock content %}
