{% extends 'stock/base.html' %}

{% block sub_title %}
  Add product to bundle
{% endblock sub_title %}

{% block sub_heading %}
  Add product to bundle
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <p>{{ bundle.name }}</p>
      {% include '_form.html' with legend='Product' submit='Add' %}
    </div>
  </div>
{% endblock content %}
