{% extends 'stock/base.html' %}

{% block sub_title %}
  Product
{% endblock sub_title %}

{% block sub_heading %}
  Product
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' with legend='Product' %}
    </div>
  </div>
{% endblock content %}
