{% extends 'stock/base.html' %}

{% block sub_title %}
  Product bundle
{% endblock sub_title %}

{% block sub_heading %}
  Product bundle
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
          <li>
            <a href="{% url 'stock.bundle.list' %}">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered">
        <tbody>
          <tr valign="top">
            <td>Bundle</td>
            <td>
              <a href="{% url 'stock.bundle.update' object.pk %}">
                <i class="fa fa-edit"></i>
                <strong>
                  {% if object.legacy %}<strike>{% endif %}
                    {{ object.name }}
                  {% if object.legacy %}</strike>{% endif %}
                </strong>
              </a>
            </td>
            <td>
            </td>
          </tr>
          {% if object.legacy %}
          <tr valign="top">
            <td>Legacy</td>
            <td>
              <strong>This is a legacy bundle</strong>
            </td>
            <td>
            </td>
          </tr>
          {% endif %}
          <tr valign="top">
            <td>Slug</td>
            <td>
              {{ object.slug }}
            </td>
            <td>
            </td>
          </tr>
          <tr valign="top">
            <td>Product</td>
            <td>
              {{ object.product.name }}
            </td>
            <td>
            </td>
          </tr>
          <tr valign="top">
            <td>Price</td>
            <td>
              £{{ object.price }}
            </td>
            <td>
            </td>
          </tr>
          {% for p in object.bundle.all %}
            <tr valign="top">
              <td>
                {% if forloop.first %}
                  Bundle
                {% endif %}
              </td>
              <td>
                {{ forloop.counter }})
                {{ p }} £{{ p.price }}
              </td>
              <td>
                <a href="{% url 'stock.bundle.product.remove' object.pk p.pk %}">
                  <i class="fa fa-times"></i>
                  Remove
                </a>
              </td>
            </tr>
          {% endfor %}
          <tr valign="top">
            <td></td>
            <td>
              <a href="{% url 'stock.bundle.product.add' object.pk %}">
                <i class="fa fa-barcode"></i>
                Add
                {% if object.bundle and object.bundle.count %}
                  another
                {% else %}
                  a
                {% endif %}
                product to the bundle
              </a>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
