{% extends "stock/base.html" %}

{% block title %}
  Product list
{% endblock title %}

{% block sub_heading %}
  Product list
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'stock.product.create' %}" class="pure-menu-link">
              <i class="fa fa-barcode"></i>
              Add product
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          {% for o in object_list %}
            <tr valign="top">
              <td>
                {% if o.legacy %}
                  <del>
                {% endif %}
                <a href="{% url 'stock.product.update' o.pk %}">
                  <i class="fa fa-edit"></i>
                  {{ o.name }}
                </a>
                {% if o.name_short %}
                  <small>
                    ({{ o.name_short }})
                  </small>
                {% endif %}
                {% if o.legacy %}
                  </del>
                  <br />
                  <small>
                    (This is a legacy product)
                  </small>
                {% endif %}
                {% if o.description %}
                  <br />
                  {{ o.description|linebreaksbr }}
                {% endif %}
              </td>
              <td>
                {{ o.category }}
              </td>
              <td>
                {{ o.price }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
<div class="pure-g">
  <div class="pure-u-1">
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        {% include 'base/_paginate.html' %}
      </ul>
    </div>
  </div>
</div>

{% endblock content %}
